:root{
    --title-color:rgb(44, 1, 44);
    --background-color:rgba(63, 16, 63, 0.644);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--background-color);
 }
 .container{
    padding-bottom: 2rem;
 }
 .main-row{
    opacity:90%;
    display: flex;
    justify-content: space-evenly;
 }
 .main-row ul{
    border-radius: 2%;
    padding: 10px;
   position: relative;
    z-index: 2;
 }
 ul::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--title-color);
    width:calc(100% - 50px);
    bottom: 16px;
    left:-90px;
 }
 .buttonCv
{
    color:white;
    border: 5px solid var(--title-color);
    background-color: var(--title-color);
    transition: 0.35s;
}
.buttonCv:hover
{

    font-weight: 1000;   
    color: white;
    border: 5px solid var(--title-color);
    background-color: var(--title-color);
    transform: rotate(-3deg) scale(1.1);  
}
 .port-image {
    width:7.4rem;
    z-index:100
  }

 .port-image img{
  
    width:7.4rem;
    height: 12rem;
    
    
 }
 .knowledge-div{
    display:grid;
    grid-template-columns:0.1fr 1fr;
    gap:10px
}
.knowledge-div span{
 
    justify-self:center;
}

#hi ,#des{
    position: relative;
    left:30px;
    visibility: hidden;
}
#work-div1,#work-div2,#work-div3,#work-div4{
    position:relative;
    left: 30px;
}
#buttonCv{
    position: relative;
    top:10px;
}
 .start{
   display: flex;
   justify-content: space-between;
 }

 .begnning p ,.about_me span , .interests span , .skills span ,.work span ,
 .contact span ,.knowledge span , .email-sending span{
    text-align: start;
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
 }
 .begnning p .span1, .about_me span:hover,.interests span:hover , .skills span:hover ,
 .work span:hover ,.contact span:hover ,.knowledge span:hover, .email-sending span:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 1px rgb(201, 195, 195), 0 10px 10px #251a8d, 0 -18px 40px rgb(73, 101, 163), -18px 2px 3px rgba(206,89,55,0.01);
 }
 .begnning p .span1,.begnning p .span2:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #5900ff, 0 -18px 40px rgb(0, 68, 255), -18px 2px 3px rgba(206,89,55,0.01);
 }
 .begnning p .span2{
    text-shadow: 7px 9px 7px rgba(19,17,72,0.8);
 }

 .myCV{
    justify-self: end;
    
 }

.main-nav{
  justify-content: start;
  align-content: flex-end;
  
}
nav{
    margin-left: -2rem;
}
.nav-item{
    padding: 5px 10px;
}
.main-nav ul li a{
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 0.5rem;
    position: relative;
    z-index: 2;
} 
.main-nav ul li a:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #5900ff, 0 -18px 40px rgb(0, 68, 255), -18px 2px 3px rgba(206,89,55,0.01);
   
    font-weight: bolder;
    border-bottom: 3px solid var(--title-color);;    
} 
.about_me, .interests , .skills  ,.work  ,.contact  ,.knowledge ,.email-sending{
    margin-top: 3rem;
    background-image: url('../image/div-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:1rem 5rem;    
    position: relative;   
}
.about_me::before, .interests::before, .skills::before,
.knowledge::before, .work::before, .contact::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }
.contact{
    margin-bottom: 3rem;
    
}
.about_me span, .interests span, .skills span ,.work span ,.contact span ,.knowledge span ,.email-sending span{
    z-index: 2;
    color:var(--title-color);
   
}

.about_me p , .interests p , .begnning{
    z-index: 2;
    margin-top:0.5rem;
    text-align: start;
    font-size: 2.5rem;
    word-spacing: 2px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    
}
.contact-div{
     z-index: 2;
}
 .contact-div p{
   
    font-size: 1.5rem;
    color: white;
}
.progress{
    align-self: center;
    height: 20px;
    background: #e7e9f3;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0 2px 2px  #4E61BA;
}
.progress-bar{
   
    border-radius: 20px;
    border: 1px solid #4E61BA;
    animation: animate-positive 10s;
}
@-webkit-keyframes animate-positive{
    0%{
        width:0;
    }
}
@keyframes animate-positive{
    0%{
        width:0;
    }
}
.work-div1{  
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    
}
.work{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-nav ul li{
    width: max-content;
}
.work-div2{
   
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 1rem;
}
.work-div1 img, .work-div2 img{
    border: rgb(137, 105, 211) 1px solid;
    border-radius: 2%;
    height: 25rem;
}

.work-des{
    display: grid;
    grid-template-rows: 0.5fr 1fr 4fr 2fr;
    color:white;
    justify-content: center;
}
.work-des h2, p{
   
    text-align: start;
    font-weight:bolder;
}


.work-icon1{
    display:grid;
    grid-template-columns: 1fr ;
    position: relative;

 }
.work-icon2{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   position: relative;
}
.work-icon2 a , .work-icon1 a{
    color:white;
}

.github {
    justify-self:center;
}
.diamond{
    justify-self: end;
}
.diamond i{
    font-size:2.5rem
}
#alertForRes{
   display: none; 
   position: absolute;
   top:-4rem;
   left: 4rem;
}
#preloader{
    background: url("../image/spinner.webp") no-repeat center center;
    background-size: 35%;
    height: 110vh;
    width: 100%;
    position:fixed ;
    z-index: 100;

}
.phone{
    height: 50px;
    width: 40px;
}
.email{
    height:25px;
    width: 30px;
}
.facebook{
    height:30px;
    width: 30px;
}
#alertForClGit{
  display: none;
    position: absolute;
    top:-4rem;
    left: 3rem;
 }
 #alertForClWeb{
   display:none;
    position: absolute;
    top:-4rem;
    left: 12rem;
 }
 #alertForDDWeb{
    display:none;
    position: absolute;
    top:-4rem;
    left: 12rem;
 }
 #alertForDDGit{
    display:none;
    position: absolute;
    top:-4rem;
    left: 0rem;
 }
.work-icon a:hover{
    
    text-shadow: 0 -1px 4px #FFF, 0 -2px 1px rgb(201, 195, 195), 0 10px 10px #251a8d, 0 -18px 40px rgb(73, 101, 163), -18px 2px 3px rgba(206,89,55,0.01);
}
.grid-name{
    grid-area: name;
    background: rgb(190, 186, 186);
}
.grid-email{
    grid-area: email;
    background: rgb(190, 186, 186);
}
.grid-subject{
      background: rgb(190, 186, 186);
}
.grid-message{
      background: rgb(190, 186, 186);
}
.grid-send{
    background-color: #231838;
    width:10rem;
    justify-self: center;
  
    
}
.email-form1 {
    display:grid;
    grid-template-rows:auto ;
    grid-template-areas: "name email";
    gap: 10px;
}
.email-form3{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.email-form{
    display:grid;
    grid-template-rows:1fr 1fr 2fr 1fr;
    gap: 10px;
}



.email-form input , .email-form textarea{
    border-radius: 4px;
    padding: 8px;

}

.email-form input:focus{
    border-bottom: 3px solid #696497;
    
}
.knowledge{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.knowledgeDiv1{
    z-index:2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.knowledgeDiv2{
    z-index:2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.knowledgeDiv1 img ,.knowledgeDiv2 img{
    height: 100px;
    transition: 0.3s;
}
.knowledgeDiv1 img:hover{
    transform: rotate(3deg) scale(1.1);
}

.knowledgeDiv2 img:hover{
    transform: rotate(-3deg) scale(1.1);
}
#alert{
    display: none;
    z-index:2;
}



