@media (max-width: 550px) {
    #work-div1,#work-div2,#work-div3,#work-div4 , #work-div5{
        left: 5px;
    }
.about_me, .contact ,.interests ,.work, .knowledge{
    margin-left: -5rem;
    margin-right: -1rem;
    padding-right: 1px;
   
}
.work {
    margin-left: -5rem;
    padding-right: 15px;
   
}
.main-row{
    display: flex;
    justify-content: start;
 }
    .start p , .about_me span , .about_me p ,
    .interests span , .interests p, .knowledge span  , .work span , .contact span ,.email-form span
    {
    font-size: 1rem;
    }
    .knowledge-div span{
        font-size: 0.8rem;
    }
   
    .contact p{
        font-size: 0.6rem;
        
        }
     
        .email{
            height:20px;
            width: 20px;
        }
        .facebook{
            height:20px;
            width: 23px;
        }
        .phone{
            height: 40px;
            width: 25px;
        }
    .myCV a {
        padding:5px;
        font-size: 0.32rem;
    }
    .myCV a:hover {
        margin: 0;
        font-weight: 600;

    }
    .work-des{
     display: none;
    }
    
     .port-image img{
      
        width:3.5rem;
        height:6rem;
        
        
     }
     .knowledge{
        height: 180px;
    }
     .knowledgeDiv1 img , .knowledgeDiv2 img{
        height: 35px;
     }
    
   .work-div1 , .work-div2{

     display: grid;
     grid-template-columns: 0.94fr;

   }
   .work-div1 img, .work-div2 img{
    height: 8rem;
 }

 
}
 
@media(min-width:551px) and (max-width:750px){    
.about_me, .interests , .skills  ,.work  ,.contact  ,.knowledge ,.email-sending{
    margin-top: 2rem;
    padding:1rem 2rem;       
}
    #work-div1,#work-div2,#work-div3,#work-div4, #work-div5{
        left: 5px;
    }
    .start p , .about_me span , .about_me p ,
    .interests span , .interests p, .knowledge span  , .work span , .contact span ,.email-form span
    , .contact p {
    font-size: 1.3rem;
    }
    .contact p {
        font-size: 1rem;
        }
    .myCV a {
        font-size: 0.55rem;
        margin: 0;
    }
    .myCV a:hover {
        font-weight: 800;
    }
    .knowledge-div span{
        font-size: 1rem;
      
    }
    .main-nav ul li a{
        font-size: 13px;
    }
    .main-nav ul li{
        width: max-content;
    }
    ul::after{
        width: 70%;
        bottom: 16px;
        left: 30px;
    }

  
   
     .port-image img{
        width:5rem;
        height:8rem;     
     }
     .work-des{
        display: grid;
        grid-template-rows: 0.15fr  1fr ;
     }
     .work-icon1 , .work-icon2 , .work-des i{
       display: none;
     }
     .work-div1 img, .work-div2 img{
        height: 12rem; 
       
       }
        .work-des h2 {
            font-size: 0.8rem;
            }
            .work-des p{
                font-size: 0.6rem;
                }
                .phone{
                    height: 40px;
                    width: 30px;
                }
                .email{
                    height:25px;
                    width: 30px;
                }
                .facebook{
                    height:30px;
                    width: 30px;
                }
                .knowledge{
                    height: 250px;
                }
                 .knowledgeDiv1 img , .knowledgeDiv2 img{
                    height: 45px;
                 }
                 .main-row{
                    display: flex;
                    justify-content: start;
                 }
          
    } 
  
    @media(min-width:751px) and (max-width:1050px){
      
            .start p , .about_me span , .about_me p ,
            .interests span , .interests p, .knowledge span  , .work span , .contact span ,.email-form span
            , .contact p {
            font-size: 1.7rem;
            }
           .about_me p ,.interests p {
            font-size: 1.3rem;
            }
            .contact p {
                font-size: 0.8rem;
              }
        
        .about_me, .interests , .skills  ,.work  ,.contact  ,.knowledge ,.email-sending{
            margin-top: 2rem;
            padding:1rem 2rem;       
        }
        #work-div1,#work-div2,#work-div3,#work-div4,#work-div5{
            left: 5px;
            height: 20rem;
        }
        .work-des {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
           .work-div1 img, .work-div2 img{
            height: 15rem;    }
            .work-des h2 {
                font-size: 1rem;
                }
                .work-des p , .work-des i{
                    font-size: 0.7rem;
                    }
                    .work-des i{
                        font-size: 0.6rem;
                        }
                        .github i{
                            font-size:1.8rem
                        }
                        .diamond i{
                            font-size:1.4rem
                        }
                        #alert2{
                            display:none;
                             position: absolute;
                             top:-4rem;
                             left: 5rem;
                          }
                          .phone{
                            height: 50px;
                            width: 40px;
                        }
                        .email{
                            height:25px;
                            width: 30px;
                        }
                        .facebook{
                            height:30px;
                            width: 30px;
                        }
                        .myCV a {
                            font-size: 0.8rem;
                          }
                        .myCV a:hover {
                            font-weight: 1000;
                        }
                        .knowledge{
                            height: 300px;
                        }
                         .knowledgeDiv1 img , .knowledgeDiv2 img{
                            height: 65px;
                         }
                         .main-row{
                            display: flex;
                            justify-content: space-between;
                         }
                         .main-nav ul li a{
                            font-size: 20px;
                         }
                         ul li{
                            width: max-content;
                         }
                         ul::after{
                            width: 75%;
                            bottom: 16px;
                            left: 39px;
                        }
                        .port-image img{
                            width: 6rem;
                            height: 10rem;
                        }
                    } 

    
